 <md-card *ngIf="parking" class="parking-card">
  <md-card-content>
    <div class="title">
      <md-card-title>{{parking.name}}</md-card-title>
    </div>
    <div *ngIf="measurement" class="chart">
      <app-chart-doughnut [parking]="parking" [measurement]="measurement"></app-chart-doughnut>
    </div>
    <!-- <p>
      <span *ngIf="percentage" class="percentage">{{percentage}}%</span><br />
      <span *ngIf="measurement" >{{measurement.value}}/{{parking.totalSpaces}}</span>
    </p> -->
  </md-card-content>
</md-card>
