<div class="container">
  <app-breadcrumb *ngIf="parking" [parking]="parking"></app-breadcrumb>
  <md-card>
    <div class="parking-info-container">
      <app-chart-doughnut *ngIf="measurement" class="parking-doughnut" [parking]="parking" [measurement]="measurement"></app-chart-doughnut>
      <div class="parking-info" *ngIf="parking">
        <h3>{{parking?.name + ' (' + parking?.datasetName + ')'}}</h3>
        <h5>TOTAL SPOTS</h5>
        <p>{{parking?.totalSpaces}}</p>
        <h5>TREND</h5>
        <p><i class="material-icons">trending_up</i></p>
      </div>

    </div>
    <div class="chart-container" >
      <h4>Visualize historic data</h4>
      <app-chart-settings (onPrecisionChange)="onPrecisionChange($event)" (onDataTypeChange)="onDataTypeChange($event)" (onRangeChange)="onRangeChange($event)" (onCancel)="onCancel()"></app-chart-settings>
      <app-chart-scatter  *ngIf="parking && rangeData" [parking]="parking" [data]="rangeData" [emitter]="emitter" [datapointGap]="datapointGap"></app-chart-scatter>
    </div>
  </md-card>
</div>
