.parking-info-container {
    margin-top: 2rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.parking-info p {
    font-weight: 400;
    margin: 0;
}

.parking-doughnut {
    width: 150px;
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.parking-scatter {
    margin-top: 2rem;
}

#settingsBtn {
    float: right;
}

#timeframeTitle {
    display: inline-block;
    margin-right: 1rem;
}

h3 {
    margin-top: 0rem;
}