<div class="container">
    <app-breadcrumb [parking]="parking"></app-breadcrumb>
    <div *ngIf="measurement" class="detail-card">
        <md-card>
            <div class="details">
                <div class="doughnut">
                    <app-chart-doughnut class="doughnut" [parking]="parking" [measurement]="measurement"></app-chart-doughnut>
                </div>
                <h2 >{{parking.name}}</h2>
                <p>Total places: 456</p>
                <p>Recent trend: <i class="material-icons">trending_up</i></p>
            </div>
                <app-time-frame-select (onRangeChange)="onRangeChange($event)"></app-time-frame-select>
                <app-chart-scatter [parking]="parking" [measurement]="measurement" [data]="rangeData"></app-chart-scatter>
        </md-card>
    </div>
</div>

