<nav>
  <div class="nav-wrapper container">
    <a href="/overview" class="brand-logo"><Span>Smart</Span><span>Flanders</span></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/parkings">Parkings</a></li>
      <li><a href="/compare">Compare</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/parkings">Parkings</a></li>
      <li><a href="/compare">Compare</a></li>
    </ul>
  </div>
</nav>
