.example-fill-remaining-space {
  flex: 1 1 auto;
}
a {
  color: rgba(255,255,255,.87);
  text-decoration: none;
}
 a:visited {
    color: rgba(255,255,255,.87);
}
 a:visited {
    color: rgba(255,255,255,.87);
}