<md-toolbar color="primary">
  <span>SmartFlanders</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span><a routerLink="/overview" routerLinkActive="active">Home </a></span>
</md-toolbar>

<!-- <nav>
  md-toolbar
  <a href="/overview"><h1><Span>Smart</Span><span>Flanders</span></h1></a>
  <ul>
    <li><a routerLink="/overview" routerLinkActive="active">Overview</a></li>
    <li><a href="#">Compare</a></li>
  </ul>
</nav> -->