<footer class="page-footer">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Proof of concept</h5>
      <p class="grey-text text-lighten-4">Using linked open data to visualize parking availability.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text"><Span>Smart</Span><span>Flanders</span></h5>
      <ul>
        <li><a class="grey-text text-lighten-3" routerLink="/parkings">Parkings</a></li>
        <li><a class="grey-text text-lighten-3" routerLink="/compare">Compare</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  There should be a license here!
  <a class="grey-text text-lighten-4 right" href="https://github.com/oSoc17/smartflanders-poc" target="_blank">
    GitHub 
    <i class="mdi mdi-github-circle"></i></a>
  </div>
</div>