md-card {
  margin-bottom: 1rem;
}

md-button-toggle-group {
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: none;
}

.setting-container {
  margin-bottom: 2rem;
}

app-time-frame-select {
    display: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #4fc3f7;
}

input[type=range]::-moz-range-thumb {
  background-color: #4fc3f7;
}

input[type=range]::-ms-thumb {
  background-color: #4fc3f7;
}

input[type=range]+.thumb {
  background-color: #4fc3f7 !important;
}

input[type=range]+.thumb.active .value {
  color: #4fc3f7;
}
