<md-card>
  <md-card-title><h4>Chart settings</h4></md-card-title>
  <md-card-content>
    <div class="setting-container">
      <h5>TYPE</h5>
      <md-button-toggle-group name="type" value="scatter" (change)="changeSelectedType($event)">
        <md-button-toggle value="scatter">scatter</md-button-toggle>
        <md-button-toggle value="block">block</md-button-toggle>
      </md-button-toggle-group>
    </div>
    <div class="setting-container">
      <h5>TIMEFRAME</h5>
      <md-button-toggle-group name="timeframe" value="hour" (change)="changeSelectedTimeframe($event)">
        <md-button-toggle value="hour">1h</md-button-toggle>
        <md-button-toggle value="day">1d</md-button-toggle>
        <md-button-toggle value="week">1w</md-button-toggle>
        <md-button-toggle value="month">1m</md-button-toggle>
        <md-button-toggle value="year">1y</md-button-toggle>
        <md-button-toggle value="all">all</md-button-toggle>
        <md-button-toggle value="advanced">advanced</md-button-toggle>
      </md-button-toggle-group>
      <app-time-frame-select></app-time-frame-select>
    </div>
    <div class="setting-container">
      <h5>INTERVAL</h5>
      <md-slider thumbLabel min="1" max="25" step="1" value="1"></md-slider>
    </div>
  </md-card-content>
</md-card>
